nav {
    border-bottom: 1px solid #202020;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    margin: 15px 25px;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 20px;
    transition: all ease 0.2s;
    text-align: center;
    display: inline-block;
    width: 150px;
    color: #ffffff;
}

nav a:hover {
    background-color: #151515;
    color: #ffffff;
}

#time, #battery {
    position: absolute;
    transform: translateY(-50%);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    top: 50%;
    transition: all ease 0.3s;
    font-size: 20px;
}

#time:hover, #battery:hover {
    background-color: #151515;
}

#time {
    left: 25px;
}

#battery {
    right: 25px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    border-top: 1px solid #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    backdrop-filter: blur(5px);
}

footer a {
    color: #ffffff;
    transition: all ease 0.2s;
}

footer a:hover {
    color: #ff5d5d;
}